
html, body {
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #000000;
    background-image: radial-gradient(circle at 50% 50%, #202020 60%, #101010);
    min-width: 690px;
    min-height: 640px;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aaWGgEO1vGR9ucXjKCo8vxU.woff) format('woff');
}

#container {
    position: relative;
    margin: 70px;
    width: 550px;
    height: 500px;
}

#text {
    position: absolute;
    top: 200px;
    width: 240px;
    color: #bbb;
    font-size: 18px;
    font-family: 'Alegreya Sans';
}

.icon {
    position: absolute;
    bottom: 45px;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

#faq{
    margin-right: 20px;
}

#github {
    margin-left: 10px;
    background-image: url(../images/github.png);
    opacity: 0.1;
}

#github:hover {
    opacity: 0.3;
}

#github:active {
    bottom: 54px;
}

#bitcoin {
    margin-left: 60px;
    background-image: url(../images/bitcoin.png);
    opacity: 0.1;
}

#bitcoin:hover {
    opacity: 0.3;
}

#bitcoin:active {
    bottom: 54px;
}

#paypal {
    margin-left: 110px;
    background-image: url(../images/paypal.png);
    opacity: 0.1;
}

#paypal:hover {
    opacity: 0.3;
}

#paypal:active {
    bottom: 54px;
}

#playlink {
    position: absolute;
    left: 0;
    bottom: 110px;
    width: 113px;
    height: 33px;
    padding: 15px 20px;
    border-radius: 2px;
    background-origin: content-box;
    background-image: url(../images/onplay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    text-decoration: none;
    box-shadow: 0 1px 0px rgba(0,0,0,0.25);
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 100;
}

#playlink:hover {
    background-color: #444;
    background-position: 50% 100%;
}

#playlink:active {
    bottom: 109px;
    box-shadow: 0 0 0;
}

#device-frame {
    position: absolute;
    background-image: url(../images/tilted.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: -150px;
    top: 0;
    width: 420px;
    height: 600px;
}
/*
#device-frame:after {
content: '';
display: inline-block;
position: absolute;
width: 420px;
height: 500px;
background: url(..images/tilted_fore.png);
background-size: cover;
opacity: 0.8;
}
*/
#device-screen {
    position: absolute;
    left: 44px;
    top: 49px;
    width: 360px;
    height: 640px;
    color: white;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: perspective(2100px) rotateZ(-5.2deg) rotateY(-32deg) rotateX(27deg) scale(0.6);
    -moz-transform-origin: 0% 0%;
    -moz-transform: perspective(2100px) rotateZ(-5.2deg) rotateY(-32deg) rotateX(27deg) scale(0.6);
    -ms-transform-origin: 0% 0%;
    -ms-transform: perspective(2100px) rotateZ(-5.2deg) rotateY(-32deg) rotateX(27deg) scale(0.6);
    transform-origin: 0% 0%;
    transform: perspective(2100px) rotateZ(-5.2deg) rotateY(-32deg) rotateX(27deg) scale(0.6);
    overflow: hidden;
}

.fullscreenlayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 640px;
}

#layer-wallpaper {
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.6;

    /* blur */
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}

#layer-content {
    background: url(../images/content.png);
}

#layer-clock {
    top: 225px;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#layer-date {
    top: 324px;
    left: 0px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #eeeeee;
    opacity: 0.6;
}
